.route-wrapper {
    width: 80%;
    font-size: 18px;
    margin-left: 10%;
    margin-top: 25px;

    opacity: 0;
    animation: ani 0.2s forwards;

    color: bisque;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.error-msg {
    margin-top: 25px;
    font-size: 1.5em;
    color: rgb(0, 66, 37);
    text-align: center;
}

.route-render {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.route-node {
    display: flex;
    width: 150px;
    height: 120px;
    margin-bottom: 25px;
}

.logo-wrapper img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(162, 130, 91);
    border-radius: 50%;
    transition: 0.1s linear;
}

.logo-wrapper img:hover {
    box-shadow: 3px 3px 6px rgb(162, 130, 91);
    transition: 0.1s linear;
}

.logo-wrapper {
    color: rgb(0, 66, 37);
    text-align: center;
}

.arrow-wrapper, .clear-wrapper {
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    animation: ani 1.0s forwards;
}

.arrow-wrapper img, .clear-wrapper img {
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
}

.clear-wrapper img {
    cursor: pointer;
}

.tables-settings {
    padding: 10px 10px 10px 10px;
    color: bisque;
    border: 3px solid bisque;
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
    width: 64%;
    margin: 0 0 0 18%;
    text-align: center;
    box-shadow: 3px 3px 6px rgb(157, 131, 100);
}

input[type="checkbox"] {
    background-color: aqua;
}

.tables-settings .textbox {
    background-color: rgb(83, 83, 83);
    color: bisque;
    width: 35px;
}

.pseudo-confirm-btn {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    padding: 2px 4px 2px 4px;
    transition: 0.1s linear;
}

.pseudo-confirm-btn:hover {
    box-shadow: 3px 3px 3px rgb(162, 130, 91);
    transition: 0.1s linear;
}
 
.elem {
    margin-right: 10px;
}

.tables-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.path-segment-wrapper {
    max-width: 48%;
    padding: 10px 10px 10px 10px;
    color: bisque;
    border: 3px solid bisque;
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 3px 3px 6px rgb(157, 131, 100);
}

.id {
    width: 10px;
}

.path-segment-wrapper td {
    padding-right: 5px;
}

.id, .pdm, .sdm {
    text-align: center;
}

.path-segment-wrapper caption {
    color: rgb(83, 83, 83);
}
